{{ 'groo_mentors.css' | asset_url | stylesheet_tag }}

<section class="mentors global">
  <h2 class="title_mentors">
    {{ section.settings.title_mentors }}
  </h2>
  <p class="text_mentors">{{ section.settings.text_mentors }}</p>

  <div class="mentors_container">
    {% for block in section.blocks %}
      <div class="mentors_item">
        <div class="svg_mentors">
          {{ block.settings.image_card | image_url: width: number | image_tag: class: 'svg', loading: 'lazy' }}
        </div>
        <h2 class="card_title">{{ block.settings.title_card }}</h2>
        <p class="card_text">{{ block.settings.text_card }}</p>
        <p class="card_text txt_descrip">{{ block.settings.text_card_2 }}</p>
        <a class="meet_card" href="#"
          >Meet mentor
          <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 3.74887L0.0622995 0.5H10L10 0.50001L10 3.74887L10 10.4377H6.75114V6.04617L2.2973 10.5L0 8.20272L4.45386 3.74887H0.0622995Z" fill="#2F80ED"/>
          </svg>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="container_bottoms">
    <a class="browse" href=""
      >Browse all mentors
      <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 3.74887L0.0622995 0.5H10L10 0.50001L10 3.74887L10 10.4377H6.75114V6.04617L2.2973 10.5L0 8.20272L4.45386 3.74887H0.0622995Z" fill="white"/>
      </svg>
    </a>
  </div>
</section>

{% schema %}
{
  "name": "groo_mentors",
  "settings": [
    {
      "type": "text",
      "id": "title_mentors",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text_mentors",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_card",
          "label": "Image Card"
        },
        {
          "type": "text",
          "id": "title_card",
          "label": "Title Card"
        },
        {
          "type": "text",
          "id": "text_card",
          "label": "Description Card"
        },
        {
          "type": "text",
          "id": "text_card_2",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
